Core/src/org/sleuthkit/autopsy/modules/fileextmismatch/MismatchConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="mismatch_config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="signature">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="ext" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="mimetype" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>